
.customer-list{
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}

.user-card{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-right: 20px;
    border-radius: 20px;
    align-items: left;
    margin-bottom: 20px;
}

.user-card-header{
    color: #FF8C00;
    font-weight: bold;
    font-size: 25px;
    font-family: Inter, sans-serif;
}
.user-card-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.user-card-content button{
    width: 200px;
    align-self: flex-end;
    margin-top: auto;
    background-color: white;
    color: #65C9DF;
    border: 2px solid #65C9DF;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: Inter, sans-serif;
}