.product-buttons{
    display: flex;
    gap: 10px;
  }
  
  
  .buttons-text{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-text{
    border-radius: 10px;
    background: #FFAC4B; 
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 195px;
    height: 46px;
    flex-shrink: 0; 
    cursor: pointer;
    border: none;
  }
  .button-text-inverse{
    border-radius: 10px;
    background: #FFF; 
    color: #FFAC4B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 104px;
    height: 41px;
    flex-shrink: 0; 
    cursor: pointer;
    border: 1px #FFAC4B solid;
  }
  .page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contentdiv-h1{
    color: #000;
    text-align: center;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 80px 0 80px;
  }
  .products-grid{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      margin-top: 40px;
  }
  .product{
    width: 247px;
    height: 342px;
    border-radius: 20px;
    background: #FAFAFA;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
  }

  .product-not-available::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.5); /* Semi-transparent gray overlay */
    border-radius: 20px;
    z-index: 1; /* Ensure it is above other content */
  }
  
  .product-not-available * {
    opacity: 0.5; /* Make content slightly transparent */
    z-index: 2; /* Ensure content is above the overlay */
  }
  
  .product-img{
    margin-top: 21px;
    width: 195px;
    height: 178px;
  }
  .product-name{
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
  }

  .product-price{
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
  }